build/
/cmake-build-*/
compile_commands.json
__pycache__/
*.py[cod]
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
Testing/
/.vscode
/.idea
/PVHSS-RH.code-workspace
results/
benchmarks/results/
function.txt
nohup.out
.DS_Store
